# Парсинг загрузочного файла

## Разделение файла по месяцам

Пример загрузочного файла: <br />
```csv
31134243;30.09.2022 00:00:00;1462058;600,0000
31156378;30.09.2022 00:00:00;2494030;1000,0000
31118074;01.10.2022 00:00:00;2891030;3029,0000
31110128;01.10.2022 00:00:00;2181004;1222,0000
31106571;30.09.2022 00:00:00;2752033;1000,0000
31152764;30.09.2022 00:00:00;2771210;1200,0000
31147456;30.09.2022 00:00:00;1821025;8000,0000
```
---

### Задача: разделить на два файла
```csv
31134243;30.09.2022 00:00:00;1462058;600,0000
31156378;30.09.2022 00:00:00;2494030;1000,0000
31106571;30.09.2022 00:00:00;2752033;1000,0000
31152764;30.09.2022 00:00:00;2771210;1200,0000
31147456;30.09.2022 00:00:00;1821025;8000,0000
```
---
```csv
31118074;01.10.2022 00:00:00;2891030;3029,0000
31110128;01.10.2022 00:00:00;2181004;1222,0000
```

In [74]:
!cd C:/PyCode/JUPYTER/

исходный файл переименуем в  **income.scv**

In [75]:
import pandas as pd
# Setting the header because it is not in the source file
df = pd.read_csv('income.csv', sep=';', names=['code','date', 'acc', 'kzt'])
df

         code                 date      acc        kzt
0    31134243  30.09.2022 00:00:00  1462058   600,0000
1    31156378  30.09.2022 00:00:00  2494030  1000,0000
2    31106571  30.09.2022 00:00:00  2752033  1000,0000
3    31152764  30.09.2022 00:00:00  2771210  1200,0000
4    31147456  30.09.2022 00:00:00  1821025  8000,0000
..        ...                  ...      ...        ...
399  31166901  01.10.2022 00:00:00  3921053     6,0000
400  31129396  01.10.2022 00:00:00  1586058  1000,0000
401  31116953  01.10.2022 00:00:00  1243106  1910,0000
402  31118074  01.10.2022 00:00:00  2891030  3029,0000
403  31110128  01.10.2022 00:00:00  2181004  1222,0000

[404 rows x 4 columns]

In [76]:
months = [9, 10]

year   = 2022
file_name   = ''
count_rows = 0

# Add column to DF with type DATE 
df = df.assign(DATA2 = pd.to_datetime(df['date'], dayfirst=True))
# Display count rows in the source file
print(f"The are {df.shape[0]} rows in the source file.")
print("---------------------------------------------")

for month in months:
    file_name = f"Data_{month}.{year}.csv"

    df_new = df[df['DATA2'].dt.month == month]
    # Uploading the data for the month to the CSV file
    # To file without header and index column
    df_new.to_csv(file_name, sep=';', header=False, index=False, columns=['code','date','acc','kzt'])

    print(f"The are {df_new.shape[0]} rows in the {file_name} file")
    count_rows += int(df_new.shape[0])
    # Clear DF for the new data
    df_new.iloc[0:0]

print("_________________")
print(f"TOTAL ROWS: {count_rows}")

The are 404 rows in the source file.
---------------------------------------------
The are 378 rows in the Data_9.2022.csv file
The are 26 rows in the Data_10.2022.csv file
_________________
TOTAL ROWS: 404